#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 40px;
}

.doors {
  display: flex;
  justify-content: space-around;
  align-self: stretch;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  button {
    background-color: #c0392c;
    color: #fff;
    font-size: 1.3rem;
    border: none;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 7px;
    transition: filter 0.3s;

    &:hover {
      cursor: pointer;
      filter: brightness(0.9);
    }
  }
}
